:root{
    --dark-red: #a7414a;
    --black: #282726;
    --grayish-cian: #6a8a82;
    --gold-yellow: #a37c27;
    --red-brown: #563838; 
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 20vh;
    background-color: royalblue;
    color: white;
}

header h1{
    font-size: 3.5rem;
}

header nav{
    width: 35%;
}

header ul{
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
    width: 100%;
}

header ul a{
    font-weight: bold;
    color: white;
}