:root{
    --dark-red: #a7414a;
    --black: #282726;
    --grayish-cian: #6a8a82;
    --gold-yellow: #a37c27;
    --red-brown: #563838; 
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: var(--dark-red);
}

header nav{
    margin-right: 25px;
    width: 30%;
    height: 50%;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

nav ul li a{
    font-size: 3.0rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}